body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vw;
    align-items: center;
    box-sizing: content-box;
    margin:20px;
}

#calculator{
    max-width: 500px;
  overflow: hidden;
    border-radius: 15px;
    margin-top: 25px;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #b0aeae;
    width:100%;
    gap:5px;
    padding:5px;
}
#display{
    width: 100%;
    padding:25px;
    background-color: #767373;
    color:#c99f22;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
}


button {
    width:100px;
    height:100px;
    margin:5px;
    padding:10px;
    background: #333;
    color:white;
    font-size:2rem;
    font-weight:bold;
    border-radius: 50px;
}

button:hover{
    background-color: #767373;
    cursor:pointer;
}
button:active{
    background-color: #d5d1d1;
}

.operator-btn{
    background-color: #c99f22;
}
.operator-btn:hover{
    background-color: #e6c563;
}
.operator-btn:active{
    background-color: #e8dbb5;
}