

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}


button {
    width:100px;
    height:100px;
    margin:5px;
    padding:10px;
    background: #333;
    color:white;
    font-size:2rem;
    font-weight:bold;
    border-radius: 50px;
}